<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="\Magento\Checkout\Controller\Onepage">
        <plugin name="bold_checkout_redirect_to_bold" type="\Bold\Checkout\Plugin\RedirectToBold"/>
    </type>
</config>
