<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <bold_checkout_base>
                <template_url>http://localhost:8080</template_url>
            </bold_checkout_base>
        </checkout>
    </default>
</config>
