<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <bold>
                <active>1</active>
                <model>Bold\Checkout\Model\Method\Adapter</model>
                <order_status>pending</order_status>
                <title>Bold Payments</title>
                <allowspecific>0</allowspecific>
                <can_authorize>1</can_authorize>
                <can_capture>1</can_capture>
                <can_capture_partial>1</can_capture_partial>
                <can_refund>1</can_refund>
                <can_refund_partial_per_invoice>1</can_refund_partial_per_invoice>
                <can_void>1</can_void>
                <can_cancel>1</can_cancel>
                <group>bold_payments</group>
            </bold>
        </payment>
        <checkout>
            <bold_checkout_base>
                <enabled>0</enabled>
                <integration_callback_url>https://adobe-commerce-connector.boldapps.net/platform/oauth/callback/{{shopId}}</integration_callback_url>
                <integration_identity_url>https://adobe-commerce-connector.boldapps.net/platform/oauth/identify</integration_identity_url>
                <payment_title>Bold Payments</payment_title>
                <parallel_checkout_button_title>Proceed to Bold Checkout</parallel_checkout_button_title>
                <integration_email>general</integration_email>
            </bold_checkout_base>
            <bold_checkout_advanced>
                <enabled_for>0</enabled_for>
                <validate_coupon_codes>1</validate_coupon_codes>
                <platform_connector_url>https://adobe-commerce-connector.boldapps.net/platform/shops/</platform_connector_url>
                <api_url>https://api.boldcommerce.com/</api_url>
                <checkout_url>https://checkout.boldcommerce.com/</checkout_url>
                <updates_check>1</updates_check>
            </bold_checkout_advanced>
            <bold_checkout_latest>
                <update_schedule>* * * * *</update_schedule>
            </bold_checkout_latest>
        </checkout>
    </default>
</config>
