<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bold\Checkout\Model\ConfigInterface" type="Bold\Checkout\Model\Config"/>
    <preference for="Bold\Checkout\Api\ConfigManagementInterface" type="Bold\Checkout\Model\ConfigManagement"/>
    <preference for="Bold\Checkout\Api\Data\Http\Client\ResultInterface" type="Bold\Checkout\Model\Http\Client\Result"/>
    <preference for="Bold\Checkout\Model\Queue\RequestInterface" type="Bold\Checkout\Model\Queue\Request"/>
    <preference for="Bold\Checkout\Api\PlaceOrderInterface" type="Bold\Checkout\Model\Order\PlaceOrder"/>
    <preference for="Bold\Checkout\Api\Data\PlaceOrder\Request\OrderDataInterface" type="Bold\Checkout\Model\Order\PlaceOrder\Request\OrderData"/>
    <preference for="Bold\Checkout\Api\Data\PlaceOrder\ResultInterface" type="Bold\Checkout\Model\Order\PlaceOrder\Result"/>
    <preference for="Bold\Checkout\Api\Data\Http\Client\Response\ErrorInterface" type="Bold\Checkout\Model\Http\Client\Response\Error"/>
    <preference for="Bold\Checkout\Api\RegisterSharedSecretInterface" type="Bold\Checkout\Model\RegisterSharedSecret"/>
    <preference for="Bold\Checkout\Api\Data\RegisterSharedSecret\ResultInterface" type="Bold\Checkout\Model\RegisterSharedSecret\Result"/>
    <preference for="Bold\Checkout\Api\CustomerEmailValidatorInterface" type="Bold\Checkout\Model\Customer\EmailValidator"/>
    <preference for="Bold\Checkout\Api\Data\CustomerEmailValidator\ResultInterface" type="Bold\Checkout\Model\Customer\EmailValidator\Result"/>
    <preference for="Bold\Checkout\Api\CustomerAddressValidatorInterface" type="Bold\Checkout\Model\Customer\AddressValidator"/>
    <preference for="Bold\Checkout\Api\Data\CustomerAddressValidator\ResultInterface" type="Bold\Checkout\Model\Customer\AddressValidator\Result"/>
    <preference for="Bold\Checkout\Api\Quote\SetQuoteAddressesInterface" type="Bold\Checkout\Model\Quote\SetQuoteAddresses"/>
    <preference for="Bold\Checkout\Api\Quote\SetQuoteShippingMethodInterface" type="Bold\Checkout\Model\Quote\SetQuoteShippingMethod"/>
    <preference for="Bold\Checkout\Api\Quote\SetQuoteCouponCodeInterface" type="Bold\Checkout\Model\Quote\SetQuoteCouponCode"/>
    <preference for="Bold\Checkout\Api\Quote\RemoveQuoteCouponCodeInterface" type="Bold\Checkout\Model\Quote\RemoveQuoteCouponCode"/>
    <preference for="Bold\Checkout\Api\Quote\GetQuoteInterface" type="Bold\Checkout\Model\Quote\GetQuote"/>
    <preference for="Bold\Checkout\Api\Data\Quote\ResultInterface" type="Bold\Checkout\Model\Quote\Result"/>
    <preference for="Bold\Checkout\Api\Quote\GetQuoteInventoryDataInterface" type="Bold\Checkout\Model\Quote\GetQuoteInventoryData"/>
    <preference for="Bold\Checkout\Api\Data\Quote\Inventory\ResultInterface" type="Bold\Checkout\Model\Quote\Inventory\Result"/>
    <preference for="Bold\Checkout\Api\Data\Quote\Inventory\Result\InventoryDataInterface" type="Bold\Checkout\Model\Quote\Inventory\Result\InventoryData"/>
    <preference for="Bold\Checkout\Api\Data\Order\Payment\RequestInterface" type="Bold\Checkout\Model\Order\UpdatePayment\Request"/>
    <preference for="Bold\Checkout\Api\Order\UpdatePaymentInterface" type="Bold\Checkout\Model\Order\UpdatePayment"/>
    <preference for="Bold\Checkout\Api\Data\Order\Payment\ResultInterface" type="Bold\Checkout\Model\Order\UpdatePayment\Result"/>
    <preference for="Bold\Checkout\Api\GetVersionInterface" type="Bold\Checkout\Model\GetVersion"/>
    <preference for="Bold\Checkout\Api\Data\DiscountDataInterface" type="Bold\Checkout\Model\Data\DiscountData"/>
    <preference for="Bold\Checkout\Api\Data\RuleDiscountInterface" type="Bold\Checkout\Model\Data\RuleDiscount"/>
    <preference for="Bold\Checkout\Api\ModuleVersionInterface" type="Bold\Checkout\Model\ModuleVersion"/>
    <preference for="Bold\Checkout\Api\Data\ModuleVersion\ResultInterface" type="Bold\Checkout\Model\Data\ModuleVersion\Result"/>
    <preference for="Bold\Checkout\Api\Data\ModuleVersion\Result\ModuleVersionInterface" type="Bold\Checkout\Model\Data\ModuleVersion\Result\ModuleVersion"/>
    <type name="Bold\Checkout\Observer\Order\Shipment\FulfillOrderItemsObserver">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Observer\Checkout\RedirectToBoldCheckoutObserver">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldStorefrontClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Observer\Order\ProcessOrderObserver">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldStorefrontClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Observer\Checkout\CheckoutSectionSave">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Model\Order\InitOrderFromQuote">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Model\Payment\Gateway\Service">
        <arguments>
            <argument name="httpClient" xsi:type="object">Bold\Checkout\Model\Http\BoldClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Model\Quote\QuoteAction">
        <arguments>
            <argument name="quoteActions" xsi:type="array">
                <item name="quote_currency" xsi:type="object">Bold\Checkout\Model\Quote\QuoteAction\Currency</item>
            </argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Model\Http\Client\RequestsLogger">
        <arguments>
            <argument name="logger" xsi:type="object">Bold\Checkout\Model\Http\Client\RequestsLogger\Logger</argument>
        </arguments>
    </type>
    <virtualType name="Bold\Checkout\Model\Http\Client\RequestsLogger\Logger" type="Magento\Framework\Logger\Monolog">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">Bold\Checkout\Model\Http\Client\RequestsLogger\Logger\Handler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Bold\Checkout\Model\Http\Client\RequestsLogger\Logger\Handler" type="Magento\Framework\Logger\Handler\Base">
        <arguments>
            <argument name="fileName" xsi:type="string">/var/log/bold_checkout.log</argument>
        </arguments>
    </virtualType>

    <!-- Bold Payment Method Configuration. -->
    <virtualType name="Bold\Checkout\Model\Method\Adapter" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">Bold\Checkout\Model\Payment\Gateway\Service::CODE</argument>
            <argument name="valueHandlerPool" xsi:type="object">Bold\Checkout\Gateway\Config\ValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">Bold\Checkout\Gateway\Command\CommandPool</argument>
            <argument name="formBlockType" xsi:type="object">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Bold\Checkout\Block\Info</argument>
        </arguments>
    </virtualType>
    <!--Value Handler Pool-->
    <virtualType name="Bold\Checkout\Gateway\Config\ValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Config\ConfigValueHandler</item>
                <item name="can_use_checkout" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Config\CanUseCheckoutValueHandler</item>
                <item name="title" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Config\TitleValueHandler</item>
                <item name="active" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Config\IsActiveValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="Bold\Checkout\Model\Payment\Gateway\Config\ConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">Bold\Checkout\Model\Payment\Gateway\Config\Config</argument>
        </arguments>
    </virtualType>
    <virtualType name="Bold\Checkout\Model\Payment\Gateway\Config\Config" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">Bold\Checkout\Model\Payment\Gateway\Service::CODE</argument>
        </arguments>
    </virtualType>
    <!-- Command Pool -->
    <virtualType name="Bold\Checkout\Gateway\Command\CommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="capture" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Command\CapturePayment</item>
                <item name="refund" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Command\RefundPayment</item>
                <item name="void" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Command\VoidPayment</item>
                <item name="cancel" xsi:type="string">Bold\Checkout\Model\Payment\Gateway\Command\CancelOrder</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Bold\Checkout\Model\ModuleInfo\InstalledModulesProvider">
        <arguments>
            <argument name="moduleList" xsi:type="array">
                <item name="bold_checkout" xsi:type="string">Bold_Checkout</item>
            </argument>
        </arguments>
    </type>
</config>
