<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Api\TotalsInformationManagementInterface">
        <plugin name="persist_shipping_method_plugin" type="Bold\Checkout\Plugin\Checkout\Api\TotalsInformationManagement\PersistShippingMethodPlugin"/>
    </type>
    <type name="Magento\Customer\Api\CustomerRepositoryInterface">
        <plugin name="bold_checkout_customer_repository_add_website_ids" type="Bold\Checkout\Plugin\Customer\CustomerRepository\AddAllWebsitesPlugin"/>
    </type>
    <type name="Magento\Quote\Model\ResourceModel\Quote">
        <plugin name="persist_quote_currency" type="Bold\Checkout\Plugin\Sales\Model\ResourceModel\Quote\PersistQuoteCurrencyPlugin"/>
    </type>
    <type name="Bold\Checkout\Model\Http\Client\Request\Validator\OrderPayloadValidator">
        <arguments>
            <argument name="requiredProperties" xsi:type="const">\Bold\Checkout\Api\Data\PlaceOrder\Request\OrderDataInterface::PROPERTIES_REQUIRED</argument>
        </arguments>
    </type>
    <type name="Magento\SalesRule\Model\RulesApplier">
        <plugin name="bold_checkout_add_discount_extension_attributes" type="Bold\Checkout\Plugin\SalesRule\Model\RulesApplier\AddExtensionAttributesPlugin"/>
    </type>
</config>
