<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="redirect_to_bold_checkout" instance="Bold\Checkout\Observer\Checkout\RedirectToBoldCheckoutObserver"/>
    </event>
    <event name="controller_action_predispatch_onestepcheckout_index_index">
        <observer name="redirect_to_bold_checkout" instance="Bold\Checkout\Observer\Checkout\RedirectToBoldCheckoutObserver"/>
    </event>
    <event name="shortcut_buttons_container">
        <observer name="bold_checkout_parallel_checkout_button" instance="Bold\Checkout\Observer\Checkout\AddParallelCheckoutButton"/>
    </event>
</config>
