<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bold\Checkout\Api\LifeElementManagementInterface" type="Bold\Checkout\Model\LifeElementManagement"/>
    <type name="Bold\Checkout\Api\LifeElementManagementInterface">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldClient</argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Model\ClearModuleConfiguration">
        <arguments>
            <argument name="paths" xsi:type="array">
                <item name="bold_checkout_base" xsi:type="string">checkout/bold_checkout_base/%</item>
                <item name="bold_checkout_advanced" xsi:type="string">checkout/bold_checkout_advanced/%</item>
                <item name="bold_checkout_custom_elements" xsi:type="string">checkout/bold_checkout_custom_elements/%</item>
                <item name="latest_version" xsi:type="string">checkout/bold_checkout/latest_version_%</item>
            </argument>
        </arguments>
    </type>
    <type name="Bold\Checkout\Model\ClearModuleIntegration">
        <arguments>
            <argument name="integrations" xsi:type="array">
                <item name="BoldIntegration" xsi:type="object">Bold\Checkout\Model\BoldIntegration</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="Bold\Checkout\Block\System\Config\Form\Field\Status\Platform" type="Bold\Checkout\Block\System\Config\Form\Field\Status">
        <arguments>
            <argument name="boldIntegration" xsi:type="object">Bold\Checkout\Model\BoldIntegration</argument>
        </arguments>
    </virtualType>
</config>
