<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bold\Checkout\Api\LifeElementManagementInterface" type="Bold\Checkout\Model\LifeElementManagement"/>
    <type name="Bold\Checkout\Api\LifeElementManagementInterface">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldClient</argument>
        </arguments>
    </type>
    <virtualType name="Bold\Checkout\Block\System\Config\Form\Field\Status\Platform" type="Bold\Checkout\Block\System\Config\Form\Field\Status">
        <arguments>
            <argument name="boldIntegration" xsi:type="object">Bold\Checkout\Model\BoldIntegration</argument>
        </arguments>
    </virtualType>
</config>
