<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="admin">
        <route id="bold_checkout" frontName="bold_checkout">
            <module name="Bold_Checkout"/>
        </route>
    </router>
</config>
