@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.pigi-wrapper {
    position: relative;
}

.pigi-wrapper:after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    top: calc(50% - 25px);
    left: calc(50% - 25px);
}
