<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <checkout>
            <bold_checkout_base>
                <enabled>0</enabled>
            </bold_checkout_base>
            <bold_checkout_advanced>
                <enabled_for>0</enabled_for>
                <realtime_enabled>1</realtime_enabled>
                <api_url>https://api.boldcommerce.com/</api_url>
                <checkout_url>https://checkout.boldcommerce.com/</checkout_url>
                <weight_unit>kg</weight_unit>
                <weight_conversion_rate>1000</weight_conversion_rate>
            </bold_checkout_advanced>
        </checkout>
    </default>
</config>
