<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bold\Platform\Model\Queue\RequestInterface" type="Bold\Platform\Model\Queue\Request"/>
    <type name="Bold\Platform\Model\Sync\GetProducts">
        <arguments>
            <argument name="skipProductTypes" xsi:type="array">
                <item name="configurable" xsi:type="const">Magento\ConfigurableProduct\Model\Product\Type\Configurable::TYPE_CODE</item>
                <item name="grouped" xsi:type="const">Magento\GroupedProduct\Model\Product\Type\Grouped::TYPE_CODE</item>
                <item name="bundle" xsi:type="const">Magento\Bundle\Model\Product\Type::TYPE_CODE</item>
            </argument>
        </arguments>
    </type>
    <type name="Bold\Platform\Model\Queue\Handler\Category">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Platform\Model\Http\PlatformClient</argument>
        </arguments>
    </type>
    <type name="Bold\Platform\Model\Queue\Handler\Product">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Platform\Model\Http\PlatformClient</argument>
        </arguments>
    </type>
    <type name="Bold\Platform\Model\Queue\Handler\Customer">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Platform\Model\Http\PlatformClient</argument>
        </arguments>
    </type>
</config>
