<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="sales_order_load_after">
        <observer name="add_bold_data_to_order" instance="Bold\Platform\Observer\AddBoldDataToOrderObserver"/>
    </event>
    <event name="sales_order_save_after">
        <observer name="save_bold_data" instance="Bold\Platform\Observer\SaveOrderBoldDataObserver"/>
    </event>
    <event name="catalog_category_save_after">
        <observer name="bold_platform_category_save" instance="Bold\Platform\Observer\CategorySave" />
    </event>
    <event name="catalog_product_save_after">
        <observer name="bold_platform_product_save" instance="Bold\Platform\Observer\ProductSave" />
    </event>
    <event name="customer_save_after">
        <observer name="bold_platform_customer_save" instance="Bold\Platform\Observer\CustomerSave" />
    </event>
    <event name="customer_address_save_after">
        <observer name="bold_platform_customer_address_save" instance="Bold\Platform\Observer\CustomerAddressSave" />
    </event>
    <event name="admin_system_config_changed_section_checkout">
        <observer name="bold_platform_create_integration" instance="Bold\Platform\Observer\CheckoutSectionSave"/>
    </event>
    <event name="catalog_category_delete_after">
        <observer name="bold_platform_category_delete" instance="Bold\Platform\Observer\CategoryDelete" />
    </event>
    <event name="catalog_product_delete_after">
        <observer name="bold_platform_product_delete" instance="Bold\Platform\Observer\ProductDelete" />
    </event>
    <event name="customer_delete_after">
        <observer name="bold_platform_customer_delete" instance="Bold\Platform\Observer\CustomerDelete" />
    </event>
    <event name="customer_address_delete_after">
        <observer name="bold_platform_customer_address_delete" instance="Bold\Platform\Observer\CustomerAddressDelete" />
    </event>
    <event name="catalog_product_import_bunch_save_after">
        <observer name="bold_platform_product_import_update" instance="Bold\Platform\Observer\ProductImportUpdate"/>
    </event>
    <event name="catalog_product_import_bunch_delete_after">
        <observer name="bold_platform_product_import_delete" instance="Bold\Platform\Observer\ProductImportDelete"/>
    </event>
</config>
