<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Bold\Checkout\Api\PlaceOrderInterface" type="Bold\Checkout\Model\Order\PlaceOrder"/>
    <preference for="Bold\Checkout\Api\Data\PlaceOrder\Request\OrderDataInterface" type="Bold\Checkout\Model\Order\PlaceOrder\Request\OrderData"/>
    <preference for="Bold\Checkout\Api\Data\PlaceOrder\ResultInterface" type="Bold\Checkout\Model\Order\PlaceOrder\Result"/>
    <preference for="Bold\Checkout\Api\Data\Http\Client\Response\ErrorInterface" type="Bold\Checkout\Model\Http\Client\Response\Error"/>
    <preference for="Bold\Checkout\Api\RegisterSharedSecretInterface" type="Bold\Checkout\Model\RegisterSharedSecret"/>
    <preference for="Bold\Checkout\Api\Data\RegisterSharedSecret\ResultInterface" type="Bold\Checkout\Model\RegisterSharedSecret\Result"/>
    <preference for="Bold\Checkout\Api\CustomerEmailValidatorInterface" type="Bold\Checkout\Model\Customer\EmailValidator"/>
    <preference for="Bold\Checkout\Api\Data\CustomerEmailValidator\ResultInterface" type="Bold\Checkout\Model\Customer\EmailValidator\Result"/>
    <preference for="Bold\Checkout\Api\CustomerAddressValidatorInterface" type="Bold\Checkout\Model\Customer\AddressValidator"/>
    <preference for="Bold\Checkout\Api\Data\CustomerAddressValidator\ResultInterface" type="Bold\Checkout\Model\Customer\AddressValidator\Result"/>
    <preference for="Bold\Checkout\Api\Quote\SetQuoteAddressesInterface" type="Bold\Checkout\Model\Quote\SetQuoteAddresses"/>
    <preference for="Bold\Checkout\Api\Quote\SetQuoteShippingMethodInterface" type="Bold\Checkout\Model\Quote\SetQuoteShippingMethod"/>
    <preference for="Bold\Checkout\Api\Quote\SetQuoteCouponCodeInterface" type="Bold\Checkout\Model\Quote\SetQuoteCouponCode"/>
    <preference for="Bold\Checkout\Api\Quote\RemoveQuoteCouponCodeInterface" type="Bold\Checkout\Model\Quote\RemoveQuoteCouponCode"/>
    <preference for="Bold\Checkout\Api\Quote\GetQuoteInterface" type="Bold\Checkout\Model\Quote\GetQuote"/>
    <preference for="Bold\Checkout\Api\Data\Quote\ResultInterface" type="Bold\Checkout\Model\Quote\Result"/>

    <type name="Magento\Checkout\Api\ShippingInformationManagementInterface">
        <plugin name="send_shipping_information_plugin" type="Bold\Checkout\Plugin\Checkout\Api\ShippingInformationManagement\SendShippingInformationPlugin"/>
    </type>
    <type name="Bold\Checkout\Plugin\Checkout\Api\ShippingInformationManagement\SendShippingInformationPlugin">
        <arguments>
            <argument name="client" xsi:type="object">Bold\Checkout\Model\Http\BoldStorefrontClient</argument>
        </arguments>
    </type>

    <type name="Magento\Quote\Model\ResourceModel\Quote">
        <plugin name="persist_quote_currency" type="Bold\Checkout\Plugin\Sales\Model\ResourceModel\Quote\PersistQuoteCurrencyPlugin"/>
    </type>

    <type name="Bold\Checkout\Model\Http\Client\Request\Validator\OrderPayloadValidator">
        <arguments>
            <argument name="requiredProperties" xsi:type="const">\Bold\Checkout\Api\Data\PlaceOrder\Request\OrderDataInterface::PROPERTIES_REQUIRED</argument>
        </arguments>
    </type>
</config>
