<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="checkout">
            <group id="bold_checkout_base" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1">
                <label>Bold Checkout Integration</label>
                <field id="comment" translate="label" type="note" sortOrder="1" showInDefault="1">
                    <frontend_model>Bold\Checkout\Block\System\Config\Form\Field\Note</frontend_model>
                </field>
                <field id="enabled" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="1">
                    <label>Enable Bold Checkout</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment>
                        <![CDATA[Refer to the <a target='_blank' href="https://developer.boldcommerce.com/default/guides/platform-integration/magento-1">documentation</a> for more details.]]></comment>
                </field>
                <field id="type" translate="label" type="select" sortOrder="15" showInDefault="0" showInWebsite="1">
                    <label>Bold Checkout Type</label>
                    <source_model>Bold\Checkout\Model\Config\Source\CheckoutTypeSource</source_model>
                    <comment><![CDATA[
                        Standard - replace the native checkout with Bold Checkout's three-page checkout.<br>
                        Parallel - allow customers to choose between the native checkout or Bold Checkout.<br>
                        Self-Hosted - use the native checkout with Bold Checkout's payment options.
                    ]]></comment>
                </field>
                <field id="api_token" translate="label" type="obscure" sortOrder="20" showInDefault="0"
                       showInWebsite="1">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <validate>required-entry</validate>
                    <comment>API token used to communicate with the Bold Checkout APIs. Obtain in the Bold Account
                        Center.
                    </comment>
                </field>
                <field id="integration_email" translate="select" type="select" sortOrder="30" showInDefault="0"
                       showInWebsite="1">
                    <label>Bold Integration Email</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Identity</source_model>
                </field>
                <field id="integration_callback_url" translate="label" type="text" sortOrder="40" showInDefault="0"
                       showInWebsite="1">
                    <label>Bold Integration Callback URL</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Please do not change.]]></comment>
                </field>
                <field id="integration_identity_url" translate="label" type="text" sortOrder="50" showInDefault="0"
                       showInWebsite="1">
                    <label>Bold Integration Identity Link URL</label>
                    <validate>required-entry</validate>
                    <comment><![CDATA[Please do not change.]]></comment>
                </field>
                <field id="integration_status" translate="label" type="note" sortOrder="60" showInDefault="0" showInWebsite="1">
                    <label>Bold Integration Status</label>
                    <frontend_model>Bold\Checkout\Block\System\Config\Form\Field\Status</frontend_model>
                    <comment><![CDATA[In case the status is 'Not Found', please re-save configuration.
                     Otherwise, if the status is not 'Active', open the 'System' -> 'Integrations' grid, find the Integration named '{{integrationName}}' and Activate or Reauthorize it.]]></comment>
                </field>
            </group>
            <group id="bold_checkout_advanced" translate="label" sortOrder="110" showInDefault="0" showInWebsite="1">
                <label>Bold Checkout Integration Advanced Setting</label>
                <field id="enabled_for" translate="label" type="select" sortOrder="10" showInDefault="0" showInWebsite="1">
                    <label>Enabled For</label>
                    <source_model>\Bold\Checkout\Model\Config\Source\EnabledForSource</source_model>
                    <comment>Configure Bold Checkout access limitations. Select 'All' to remove all limitations.
                    </comment>
                </field>
                <field id="ip_whitelist" translate="label" type="textarea" sortOrder="20" showInDefault="0" showInWebsite="1">
                    <label>IP List</label>
                    <depends>
                        <field id="enabled_for">1</field>
                    </depends>
                    <comment>Only customers with listed IPs will be able to navigate to Bold Checkout.
                        Please add whitelisted IPs separated by comma.</comment>
                </field>
                <field id="customer_whitelist" translate="label" type="textarea" sortOrder="30" showInDefault="0" showInWebsite="1">
                    <label>Customer List</label>
                    <depends>
                        <field id="enabled_for">2</field>
                    </depends>
                    <comment>Only customers with listed emails will be able to navigate to Bold Checkout.
                        Please add whitelisted Customer emails separated by comma.</comment>
                </field>
                <field id="orders_percentage" translate="label" type="select" sortOrder="30" showInDefault="0" showInWebsite="1">
                    <label>Orders Percentage</label>
                    <source_model>\Bold\Checkout\Model\Config\Source\PercentageSource</source_model>
                    <depends>
                        <field id="enabled_for">3</field>
                    </depends>
                    <comment>Percentage of carts will be redirected to Bold Checkout.
                        Please select the percentage of Orders to be placed using Bold Checkout.</comment>
                </field>
                <field id="platform_connector_url" translate="label" type="text" sortOrder="60" showInDefault="0" showInWebsite="1">
                    <label>M2 Platform Connector API Url</label>
                    <validate>required-url</validate>
                    <comment>M2 Platform Connector API URL.</comment>
                </field>
                <field id="log_enabled" translate="label" type="select" sortOrder="70" showInDefault="0" showInWebsite="1">
                    <label>Enable Bold Checkout Requests Log</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[Log Bold Checkout requests for debugging purpose.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
